<div class="row">
  <div class="col-sm-12">
    <div class="content-header text-left">Films</div>
    <p class="content-sub-header"></p>
  </div>
</div>
<!-- Films Starts -->

<section id="films" class="row">
  <div class="col-xl-3 col-lg-6 col-md-12" *ngFor="let film of films; let i=index">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title" (mouseover)="films[i].showOpening=true" (mouseout)="films[i].showOpening=false">
          {{film.title}}</h4>
        <h6 class="card-subtitle text-muted">Episode #{{film.episode_id}}</h6>
      </div>
      <div class="position-relative">
        <div class="card-content">
          <img class="img-fluid" [src]="'assets/img/' + film.episode_id + '.jpg'" alt="Card image cap">
          <ul class="list-group">
            <li class="list-group-item"> Director: {{film.director}} </li>
            <li class="list-group-item"> <a [routerLink]="['/characters/film/',film.episode_id]"> Characters </a></li>
          </ul>
          <div id="board" *ngIf="films[i].showOpening">
            <div id="content">
              <p id="title">Episode #{{film.episode_id}}</p>
              <p id="subtitle">{{film.title}}</p>
              <br>
              <p>{{film.opening_crawl}}</p>
            </div>
          </div>
        </div>
        <div class="overlay" *ngIf="films[i].showOpening">
        </div>

      </div>
    </div>
  </div>
</section>
<!-- Films Ends -->