<div class="row">
    <div class="col-sm-12">
        <div class="content-header text-left">Characters</div>
        <p class="content-sub-header"></p>
        <ng-multiselect-dropdown [placeholder]="'Gender'" [settings]="dropdownSettings" [data]="genders"
            [(ngModel)]="selectedGenders" (onSelect)="onFilter()" (onSelectAll)="selectedGenders=genders; onFilter()"
            (onDeSelect)="onFilter()" (onDeSelectAll)="selectedGenders=[]; onFilter()" (onDeSelect)="onFilter()">
        </ng-multiselect-dropdown>

        <ng-multiselect-dropdown [placeholder]="'Eye colors'" [settings]="dropdownSettings" [data]="eyeColors"
            [(ngModel)]="selectedEyeColors" (onSelect)="onFilter()" (onDeSelect)="onFilter()"
            (onSelectAll)="selectedEyeColors=eyeColors; onFilter()" (onDeSelectAll)="selectedEyeColors=[]; onFilter()">
        </ng-multiselect-dropdown>

        <ng-multiselect-dropdown [placeholder]="'Films'" [settings]="dropdownSettings" [data]="films"
            [(ngModel)]="selectedFilms" (onSelect)="onFilter()" (onSelectAll)="selectedFilms=films; onFilter()"
            (onDeSelectAll)="selectedFilms=[]; onFilter()" (onDeSelect)="onFilter()">
        </ng-multiselect-dropdown>
    </div>
</div>
<!-- Characters Starts -->
<section id="characters" class="row">
    <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let c of charactersFiltered">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">{{c.name}}</h4>
                <h6 class="card-subtitle text-muted">Eyes color: {{c.eye_color}}</h6>
                <h6 class="card-subtitle text-muted">Gender: {{c.gender}}</h6>
            </div>
            <div class="position-relative">

                <div class="card-content">
                    <ul class="list-group">
                        <li class="list-group-item">
                            Films:
                        </li>
                        <li class="list-group-item" *ngFor="let f of c.filmsObj;let i=index" (mouseover)="f.show=true"
                            (mouseleave)="f.show=false">
                            {{filmNames[f.url]}}
                            <div *ngIf="f.show">
                                <div id="board" >
                                    <div id="content">
                                        <p id="title">Episode #{{allFilms[f.url].episode_id}} </p>
                                        <p id="subtitle">{{allFilms[f.url].title}}</p>
                                        <br>
                                        <p>{{allFilms[f.url].opening_crawl}}</p>
                                    </div>
                                    
                                </div>
                                <div class="overlay">
                                </div>
                            </div>

                        </li>
                    </ul>

                </div>
                <!-- <div class="overlay">

                </div> -->

            </div>
        </div>
    </div>
</section>

<ngb-pagination [collectionSize]="characters.length" [(page)]="page" [maxSize]="pageSize" [boundaryLinks]="true"
    (pageChange)="onPageChange()"></ngb-pagination>

<!-- Characters Ends -->