.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #1CBCD8;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px;
}

.pace .pace-progress-inner {
    box-shadow: inherit;
}
#board {
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    transform: perspective(300px) rotateX(25deg);
    transform-origin: 60% 100%;
    text-align: justify;
    position: absolute;
    margin-left: 0;
    font-weight: bold;
    overflow: hidden;
    font-size: 350%;
    height: 50em;
    width: 5em;
    bottom: 0;
    z-index: 200;
    left: 0;
    right: 0;
    margin-right: auto;
    margin-left: auto;
  }

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: black;
    opacity: 0.5;
    }

  #board p {
    color: #FFFF82;
    z-index: 200;
  }
  
  #board:after {
    position: absolute;
    content: ' ';
    bottom: 60%;
    left: 0;
    right: 0;
    top: 0;
  }
  
  /* Set the scrolling animation and position it */
  #content {
    animation: scroll 200s linear 0s;
    position: absolute;
    top: 100%;
  }
  
  #title, #subtitle {
    text-align: center;
  }
  
  @keyframes scroll {
      0% {
          top: 100%;
      }
      100% {
          top: -100%;
      }
  }